h3 {
    align-items: center;
    padding-top: 10px;
    padding-right: 20px;
}

h4 {
    padding-top: 50px;
}

#compact_car_logo {
    width: 70px;
    height: 50px;
    padding-right: 20px;
}

.OrderPartsText {
    line-height:150%;
}
