Nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: darkslateblue;
    color: white;
}
.home-link {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.about-link {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
.orderParts-link {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
